@import "tailwindcss";

@theme {
  --color-custom-red: #db0000;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: white;
  color: var(--foreground);
  cursor: grab;
  width: inherit;
  height: inherit;
  overflow: hidden;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.work-title-li {
  @apply [writing-mode:sideways-lr] h-full text-end  text-2xl 2xl:text-3xl  hover:cursor-pointer;
}

.work-title-vertical-line {
  @apply border-r-2 h-full block opacity-100  my-2;
}

.work-title-text {
  @apply opacity-100 px-4;
}
